/* font-family: 'Karla', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

* {box-sizing: border-box;
    margin:0;
    padding: 0;

}

body{
    background-color: #DFE8FF;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    
}

.order-container{
    width:300px;
    height:475px;
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 10px;
}

.order-summary{text-align: center;

}

.order-summary h1{
    font-size: medium;
    font-weight: 900;
    margin-top: 20px;
}

.order-summary p{
    font-size: small;
    font-weight: 500;
    margin: 10px 15px 0px 15px;
    color: #7780A0 ;

}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px 0 25px;
    background-color: #F8F9FE;
    height: 80px;
    border-radius: 10px;
    
}

.icon-container img{
    height: 40px;
    padding-left: 15px;
    
}

img{ border-radius: 10px 10px 0 0;
    
}

.icon-container a{
    padding-right: 15px;
    font-size: small;
    font-weight: 500;

}

.icon-container a:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.15s;
}

.icon-container a:visited{
    color: #382BE1;
}

.annual-payment{
    font-size: small;
    font-weight: 900;
}

.yearly-payment{
    font-size: small;
    font-weight: 500;
   padding-right: 15px;
   color: #7780A0;
   
}

.proceed-button button{
    margin: 15px 20px 0 25px;
    background-color: #382BE1;
    color: white;
    width: 250px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #9f9ae4;
    font-weight: 700;
    font-size: small;


}

.proceed-button button:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 1s;

}


.cancel-order p {
    margin: 20px 20px 0 25px;
    text-align: center;
    font-size: small;
    font-weight: 700;
    color: #7780A0 ;
   
    
}

@media (max-width:1024px) {
    .order-container{
        margin: 50px;
       
        
    } 

}

